.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 8px;
  padding: 12px 0;
  background: var(--link);

  font-weight: 600;
  font-family: var(--family-bold);

  -webkit-touch-callout: none;

  transition: all 0.4s;

  &[aria-disabled='true'] {
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
    background: rgb(41 41 58);
  }

  &:hover {
    background: #5730cc;
  }
}

.button.outline {
  background: transparent;
  border: 1px solid var(--link);

  &:hover {
    background: var(--link);
  }

  &[aria-disabled='true'] {
    border-color: var(--link-dark);
  }
}
