.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;

  width: 100%;
  border-radius: 8px;
  padding: 12px 0;
  background: var(--link);
  border: 0;

  font-weight: 600;
  font-family: var(--family-bold);

  -webkit-touch-callout: none;

  transition: all 0.4s;

  &[aria-disabled='true'], &:disabled {
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
    background: rgb(63, 63, 105);
  }

  &:hover {
    background: #5730cc;
  }

  @media(max-width: 650px) {
    font-size: 0.875rem;
  }
}

.button.outline {
  background: transparent;
  border: 1px solid var(--link);

  &:hover {
    background: var(--link);
  }

  &[aria-disabled='true'] {
    border-color: var(--link-dark);
  }
}

.loading {
  position: relative;
  color: transparent!important;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    display: block;
    width: 24px;
    height: 24px;
    background: transparent;

    border-radius: 50%;
    border: 1px solid transparent;
    border-left-color: #fff;

    animation: rotation 1s linear infinite;
    
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
