.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;

  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  background: var(--violet9);

  font-size: 0.875rem;
  font-weight: 400;

  transition: all 0.4s;

  &[aria-disabled='true'], &:disabled {
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
    background: var(--violet5);
  }

  &:hover {
    background: var(--violet8);
  }

  &.small {
    padding: 8px 0;
  }

  &.secondary {
    background: var(--mauve3);
    border: 1px solid var(--mauve6);

    &:hover {
      background: var(--mauve4);
    }
  }
}

.loading {
  position: relative;
  color: transparent!important;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    display: block;
    width: 24px;
    height: 24px;
    background: transparent;

    border-radius: 50%;
    border: 1px solid transparent;
    border-left-color: #fff;

    animation: rotation 1s linear infinite;
    
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
