.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 1.25rem;
    font-weight: bold;

    border-radius: 4px;
    padding: 12px 32px;
    background: var(--background-light);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}