.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: auto;
  max-width: 600px;

  h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    text-align: center;
    max-width: 450px;
    color: var(--secondary);
  }

  hr {
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(#fff, 0.3);
    margin: 40px 0;
  }

  @media(max-width: 650px) {
    padding: 0 24px;

    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    hr {
      margin: 32px 0;
    }
  }
}

.logo {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 2;

  > svg {
    width: auto;
    height: 40px;
  }

  @media(max-width: 650px) {
    top: 32px;
    left: 20px;

    > svg {
      width: 65vw;
      height: auto;
    }
  }
}

.image {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(2px);
    background: linear-gradient(0deg, rgba(40, 42, 54, 0.8) 0%, rgba(0,0,0,0.6) 100%);
  }
}

.buttons {
  width: 100%;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;

    width: 100%;

    font-size: 1.125rem;
    font-weight: 600;

    padding: 16px 0;
    border-radius: 8px;
    border: 1px solid transparent;
    background: transparent;

    transition: all 0.4s;

    svg {
      width: 24px;
    }

    &.google {
      background: #DB4437;
    }

    &.github {
      background: #2D333B;
    }

    &:hover {
      filter: brightness(0.9);
    }
    
  }

  @media(max-width: 650px) {
    max-width: 340px;

    button {
      font-size: 1rem;
      padding: 14px 0;
    }
  }
}

.footer {
  font-size: 0.875rem;
  padding-bottom: 16px;

  a {
    font-family: var(--family-bold);
    font-weight: bold;
  }

  @media(max-width: 650px) {
    padding-bottom: 64px;
  }
}