.challenge {
  display: flex;
  flex-direction: column;
 
  overflow: hidden;
  border-radius: 8px;
  background: var(--background-tertiary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  filter: grayscale(0.3);
  transition: all 0.4s;
  
  &:hover {
    filter: grayscale(0);

    .challenge__image img {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
}

.challenge__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  
  img {
    filter: grayscale(0.7);

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    transition: all 0.4s;
  }

  @media(max-width: 650px) {
    height: 200px;
  }
}

.challenge__info {
  padding: 16px 24px 24px;

  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media(max-width: 650px) {
    padding: 16px;
  }

  h1 {
    font-size: 1.75rem;
  }

  strong {
    display: flex;
    align-items: center;
    column-gap: 4px;

    margin-bottom: 2px;
  }

  @media(max-width: 650px) {
    padding: 16px;

    h1 {
      font-size: 1.375rem;
    }
    
    strong {
      font-size: 0.875rem;
      margin-bottom: 0;

      svg {
        width: 0.875rem;
        height: auto;
      }
    }
  }
}

.challenge__line {
  display: flex;
  align-items: flex-start;
  column-gap: 64px;

  time, p {
    font-size: 1rem;
    color: var(--text-secondary);
    font-family: var(--family-bold);
  }

  @media(max-width: 650px) {
    column-gap: 32px;

    time, p {
      font-size: 0.875rem;
    }
  }
}

.challenge__participants {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  margin-bottom: 12px;

  @media(max-width: 650px) {
    margin-bottom: 8px;
  }
}

.users {
  position: relative;
  height: 40px;

  .user__image, .participants__counter {
    position: absolute;
    top: 0;
    left: calc(var(--position) * 25px);

    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .user__image {
    overflow: hidden;
    border: 2px solid #333;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .participants__counter {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: -2px;
  
    background: #333;
  }

  @media(max-width: 650px) {
    .user__image, .participants__counter {
      width: 32px;
      height: 32px;
      left: calc(var(--position) * 20px);
    }

    picture:nth-child(n+15) {
      display:none;
    }

    .participants__counter {
      left: calc(13 * 20px);
    }
  }
}

.links {
  display: flex;
  margin-top: auto;
  column-gap: 24px;

  a {
    padding: 12px 0;
  }

  @media(max-width: 650px) {
    column-gap: 16px;

    a {
      font-size: 0.75rem;
    }
  }
}