.container {
  width: 210px;

  position: sticky;
  top: 24px;
  left: 0;

  @media(max-width: 768px) {
    display: none;
  }
}

.content {
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 12px;

  li a {
    display: flex;
    align-items: center;
    column-gap: 8px;

    padding: 12px;
    border-radius: 4px;
    color: var(--mauve11);
    background: rgba(#28282c, 0.25);

    transition: all 0.4s;

    svg {
      width: 20px;
      height: auto;
    }

    &.active, &:hover {
      color: var(--violet10);
    background: rgba(#28282c, 0.5);
    }
  }
}