
.solution {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;

  padding: 40px 20px 20px;
  border-radius: 4px 4px 12px 12px;
  background: var(--mauve2);

  position: relative;
  overflow: hidden;
}

.user__info {
  margin-bottom: 12px;

  strong {
    font-size: 1rem;
    font-weight: 500;
    color: var(--mauve12);
  }

  p {
    margin-top: 2px;

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--mauve11);
  }
} 

.level {
  position: absolute;
  top: 0;
  left: -10px;

  width: calc(100% + 20px);
  
  font-weight: 500;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 1px;

  padding: 4px 10px;
  transform: skew(-5deg);

  &[data-type="easy"] {
    background: rgba(44, 182, 125, 0.5);
  }

  &[data-type="medium"] {
    background: rgba(17, 149, 226, 0.5);
  }

  &[data-type="hard"] {
    background: rgba(255, 107, 107, 0.5);
  }
}