.solution {
  overflow: hidden;
  position: relative;
  padding: 24px 32px;
  border-radius: 0 6px 6px 0;
  background: var(--background-light);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);

  &[data-type="easy"] .level {
      background: var(--green);
  }

  &[data-type="medium"] .level {
    background: #1194e2;
  }

  &[data-type="hard"] .level {
    background: var(--red);
  }

  &:hover .level {
    transform: rotate(180deg) translateX(0);
  }
}

.button__like {
  border: 0;
  background: transparent;

  transition: all 0.4s;
  
  svg {
    color: var(--text);
    transition: all 0.4s;
  }

  &:hover {
    border-color: var(--link);

    svg {
      color: var(--link);
    }
  }

  &[aria-pressed="true"]{
    border-color: var(--link);

    svg {
      color: var(--link);
    }
  }
}

.solution__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;

  transition: 0.2s all;
}

.level {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  
  font-size: 0.625rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-family: var(--font-bold);

  user-select: none;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg) translateX(16px);

  padding: 0 4px;

  transition: 0.2s all;
  
  &:hover {
    cursor: default;
  }
}

.participant {
  display: flex;
  column-gap: 10px;
  align-items: center;

  .participant__avatar {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }

  strong {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  p {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 300;
    padding-bottom: 4px;
  }
}

.solution__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 4px;

  // background: blanchedalmond;

  span {
    width: 110px;

    font-size: 0.75rem;
    font-weight: 700;
    font-family: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;

    padding: 4px 0;
    border-radius: 4px;
  }

  time {
    display: flex;
    align-items: center;
    column-gap: 4px;

    font-weight: 300;
    font-size: 0.875rem;
    text-transform: capitalize;
  }
}

.solution__links {
  margin-top: 16px;

  display: flex;
  column-gap: 8px;

  transition: 0.2s all;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;

    font-size: 0.875rem;
    font-weight: 500;
    font-family: var(--font-bold);

    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--link);

    transition: 0.4s background;

    &:first-child {
      width: 100%;
    }

    svg {
      width: 18px;
      height: auto;
    }

    &:hover {
      background: var(--link);
    }

    &[aria-disabled="true"] {
      opacity: 0.5;
      border-color: var(--link-dark);
      pointer-events: none;
    }
  }
}