@import './components/button.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #94a1b2;
  --text-light: #fffffe;
  --text-dark: #72757e;
  --text-placeholder: #44475a;

  --background: #161626;
  --background-light: rgba(40, 42, 54, 0.4);

  --white: rgba(255, 255, 255, 0.1);

  --link: #7f5af0;
  --link-dark: #2f2843;
  --green: #2cb67d;
  --red: #ff6b6b;
  --blue-dark: #4e4187;

  --family-normal: Inter, sans-serif;
  --family-bold: Poppins, sans-serif;

  --toast-viewport-padding: 25px;

  --width-normal: 1440px;
  --width-medium: 900px;
  --width-small: 600px;

  --mauve1: hsl(246 6% 9%);
  --mauve2: hsl(240 5.1% 11.6%);
  --mauve3: hsl(241 5% 14.3%);
  --mauve4: hsl(242 4.9% 16.5%);
  --mauve5: hsl(243 4.9% 18.8%);
  --mauve6: hsl(244 4.9% 21.5%);
  --mauve7: hsl(245 4.9% 25.4%);
  --mauve8: hsl(247 4.8% 32.5%);
  --mauve9: hsl(252 4% 45.2%);
  --mauve10: hsl(247 3.4% 50.7%);
  --mauve11: hsl(253 4% 63.7%);
  --mauve12: hsl(256 6% 93.2%);

  --mauveA1: hsla(300, 89.3%, 18.3%, 0.012);
  --mauveA2: hsla(300, 78.1%, 9.0%, 0.028);
  --mauveA3: hsla(300, 99.5%, 7.7%, 0.051);
  --mauveA4: hsla(270, 90.5%, 6.1%, 0.071);
  --mauveA5: hsla(270, 83.0%, 5.2%, 0.091);
  --mauveA6: hsla(300, 93.5%, 3.7%, 0.114);
  --mauveA7: hsla(270, 82.6%, 3.3%, 0.142);
  --mauveA8: hsla(255, 95.2%, 3.7%, 0.220);
  --mauveA9: hsla(255, 94.8%, 3.7%, 0.444);
  --mauveA10: hsla(253, 96.5%, 3.8%, 0.483);
  --mauveA11: hsla(247, 97.9%, 3.2%, 0.569);
  --mauveA12: hsla(261, 98.7%, 3.0%, 0.918);

  --violet1: hsl(250 20% 10.2%);
  --violet2: hsl(255 30.3% 12.9%);
  --violet3: hsl(253 37% 18.4%);
  --violet4: hsl(252 40.1% 22.5%);
  --violet5: hsl(252 42.2% 26.2%);
  --violet6: hsl(251 44.3% 31.1%);
  --violet7: hsl(250 46.8% 38.9%);
  --violet8: hsl(250 51.8% 51.2%);
  --violet9: hsl(252 56% 57.5%);
  --violet10: hsl(251 63.2% 63.2%);
  --violet11: hsl(250 95% 76.8%);
  --violet12: hsl(252 87% 96.4%);

  --blue1: hsl(212 35% 9.2%);
  --blue2: hsl(216 50% 11.8%);
  --blue3: hsl(214 59.4% 15.3%);
  --blue4: hsl(214 65.8% 17.9%);
  --blue5: hsl(213 71.2% 20.2%);
  --blue6: hsl(212 77.4% 23.1%);
  --blue7: hsl(211 85.1% 27.4%);
  --blue8: hsl(211 89.7% 34.1%);
  --blue9: hsl(206 100% 50%);
  --blue10: hsl(209 100% 60.6%);
  --blue11: hsl(210 100% 66.1%);
  --blue12: hsl(206 98% 95.8%);

  --green1: hsl(146 30% 7.4%);
  --green2: hsl(155 44.2% 8.4%);
  --green3: hsl(155 46.7% 10.9%);
  --green4: hsl(154 48.4% 12.9%);
  --green5: hsl(154 49.7% 14.9%);
  --green6: hsl(154 50.9% 17.6%);
  --green7: hsl(153 51.8% 21.8%);
  --green8: hsl(151 51.7% 28.4%);
  --green9: hsl(151 55% 41.5%);
  --green10: hsl(151 49.3% 46.5%);
  --green11: hsl(151 50% 53.2%);
  --green12: hsl(137 72% 94%);

  --orange1: hsl(30 70% 7.2%);
  --orange2: hsl(28 100% 8.4%);
  --orange3: hsl(26 91.1% 11.6%);
  --orange4: hsl(25 88.3% 14.1%);
  --orange5: hsl(24 87.6% 16.6%);
  --orange6: hsl(24 88.6% 19.8%);
  --orange7: hsl(24 92.4% 24%);
  --orange8: hsl(25 100% 29%);
  --orange9: hsl(24 94% 50%);
  --orange10: hsl(24 100% 58.5%);
  --orange11: hsl(24 100% 62.2%);
  --orange12: hsl(24 97% 93.2%);

  --red1: hsl(353 23% 9.8%);
  --red2: hsl(357 34.4% 12%);
  --red3: hsl(356 43.4% 16.4%);
  --red4: hsl(356 47.6% 19.2%);
  --red5: hsl(356 51.1% 21.9%);
  --red6: hsl(356 55.2% 25.9%);
  --red7: hsl(357 60.2% 31.8%);
  --red8: hsl(358 65% 40.4%);
  --red9: hsl(358 75% 59%);
  --red10: hsl(358 85.3% 64%);
  --red11: hsl(358 100% 69.5%);
  --red12: hsl(351 89% 96%);
}

:where(html) {
  block-size: 100%;
  font-family: var(--family-normal);
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :where(:focus-visible) {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}

:where(:not(:active):focus-visible) {
  outline-offset: 5px;
}

:where(body) {
  min-block-size: 100%;
  background: var(--mauve1);
}

:where(body, button, textarea, input) {
  color: var(--text-light);
  font: 400 1rem var(--family-normal);
}

:where(h1, h2, h3, h4, h5, h6, strong, b) {
  font-family: var(--family-bold);
}

:where(a, u, ins, abbr) {
  text-underline-offset: 1px;

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

:where(a[href], area, button, label[for], summary, [tabindex]:not([tabindex*='-'])) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

fieldset {
  border: 0;
}
