@import './components/button.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #161618;
  --background-secondary: #1c1c1f;
  --background-tertiary: rgba(255, 255, 255, 0.03);

  --text: #fff;
  --text-secondary: #858584;

  --line: rgba(255, 255, 255, 0.1);

  --purple: #6e56cf;
  --blue: #52a9ff;
  --red: #e5484d;

  --family-normal: 'Work Sans', sans-serif;
  --family-bold: 'Space Mono', monospace;

  --width-normal: 1360px;
  --width-medium: 1100px;
  --width-small: 600px;
}

html {
  scroll-behavior: smooth;
}

:where(body) {
  min-block-size: 100%;
  background: var(--background);
}

:where(body, button, textarea, input) {
  color: var(--text);
  font: 400 1rem var(--family-normal);
}

:where(h1, h2, h3, h4, h5, h6, strong, b) {
  font-weight: 600;
}

:where(a[href], area, button, label[for], summary, [tabindex]:not([tabindex*='-'])) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  background: transparent;
}

label {
  font-size: 1rem;
  line-height: 1.5;
}
