.home {
  --minWidth: 410px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--minWidth)), 1fr)
  );
  gap: 32px;

  width: 100%;
  max-width: var(--width-normal);


  @media(max-width: 900px) {
    padding: 0 64px;
    gap: 48px 0;
  }

  @media(max-width: 650px) {
    padding: 0;
  }
}
