.home {
  padding-top: 48px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;

  width: 100%;
  max-width: var(--width-normal);


  @media(max-width: 1440px) {
    padding: 48px 24px 0;
  }

  @media(max-width: 900px) {
    padding: 48px 64px 0;
    gap: 48px 0;
    grid-template-columns: 1fr;
  }

  @media(max-width: 650px) {
    padding: 24px 20px 0;
    row-gap: 24px;
  }
}
