.challenge {
  display: flex;
  flex-direction: column;
 
  overflow: hidden;
  border-radius: 8px;
  background: var(--mauve2);
  border: 1px solid var(--mauve6);
}

.challenge__image {
  position: relative;

  width: 100%;
  height: 280px;
  overflow: hidden;

  img {
    transition: transform 0.4s;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.challenge__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  padding: 0 24px;
  margin: 16px 0 24px;

  h2 {
    font-size: 1.75rem;
  }

  strong, time {
    font-weight: 400;
    color: var(--mauve11);
    font-size: 1.125rem;

    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  svg {
    width: 17px;
    height: auto;
  }

  .challenge__info {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.challenge__participants {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  strong {
    font-weight: 400;
    color: var(--mauve11);
    font-size: 1.125rem;
  }
}

.users {
  display: flex;
  align-items: center;

  figure {
    display: block;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    border: 3px solid var(--mauve2);

    &:hover {
      transform: translateY(10px);
    }
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.875rem;
    letter-spacing: -1px;
    font-weight: 600;

    width: 40px;
    height: 40px;
    border-radius: 100%;

    background: var(--mauve3);

    transform: translateX(-96px);
  }
}

.challenge__footer {
  display: flex;
  column-gap: 12px;

  padding: 12px 24px 16px;
  border-top: 1px solid var(--mauve6);

  a {
    font-size: 1rem;
  }
}