.solution__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button, .likes {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 0.875rem;
    font-weight: 500;

    padding: 10px 18px;
    border-radius: 8px;
    background: var(--mauve3);

    svg {
      margin-top: 3px;
    }
  }
}

.user__image {
  display: flex;

  padding: 3px;
  border-radius: 100%;
  border: 1px solid transparent;

  &[data-type="easy"] {
    border-color: var(--green);
  }

  &[data-type="medium"] {
    border-color: #1194e2;
  }

  &[data-type="hard"] {
    border-color: var(--red);
  }

  picture {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    overflow: hidden;
  }
}