.container {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 100%;
  min-height: 100vh;

  .main, .header__content {
    width: 100%;
    max-width: 1444px;
    margin: 0 auto;
  }
}

.main {
  padding-top: 32px;
}

.footer {
  position: relative;
  height: 160px;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 16px;

  svg {
    position: absolute;
    left: 0;
    bottom: -130px;

    z-index: -1;
  }

  small {
    font-size: 0.875rem;
  }
}

.header {
  display: flex;

  padding: 16px 40px;
  background: var(--background-light);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a svg {
    width: auto;
    height: 24px;
  }

}