.container {
  width: 100%;
  max-width: var(--width-normal);
  
  margin: 48px 0 64px;

  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;

    margin-bottom: 24px;
    padding-bottom: 8px;

    border-bottom: 1px solid var(--white);
  }
}

.solutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.solution {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;

  padding: 20px;
  border-radius: 8px;
  background: var(--mauve2);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      column-gap: 8px;

      font-size: 0.875rem;
      font-weight: 500;

      padding: 12px 18px;
      border-radius: 8px;
      background: var(--mauve3);

      svg {
        margin-top: 3px;
      }
    }
  }
}

.user__image {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  overflow: hidden;
}

.user__info {
  margin-bottom: 16px;

  strong {
    font-size: 1rem;
    font-weight: 500;
    color: var(--mauve12);
  }

  p {
    margin-top: 4px;

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--mauve11);
  }
} 

.solution__footer {
  margin-top: auto;

  display: flex;
  column-gap: 8px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;

    padding: 10px;
    border-radius: 6px;
    background: var(--mauve3);

    &:first-child {
      flex: 1;
    }

    &:not(:first-child) {
      background: transparent;
      border: 1px solid var(--mauve5);
      transition: border .4s;

      svg {
        width: 20px;
        height: auto;

        path {
          fill: var(--mauve11);
          transition: fill .4s;
        }
      }

      &:hover {
        border-color: var(--mauve10);

        svg path {
          fill: var(--mauve12);
        }
      }
    }
  }
}