.author {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  column-gap: 24px;

  width: 100%;
  padding: 32px 24px;
  border-radius: 8px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url('/background-author-card.png'), var(--mauve2);

  @media (min-width: 640px) {
    text-align: left;
    justify-items: start;
    grid-template-columns: max-content 1fr;
  }
}

.author__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  @media (max-width: 640px) {
    width: 100px;
    height: 100px;
  }
}

.author__info {
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--mauve11);

    margin: 4px 0 12px;
  }

  hr {
    border: 0;
    border-bottom: 1px solid var(--mauve6);
  }
}

.author__links {
  max-width: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 8px;

  margin-top: 16px;

  li {
    flex-grow: 1;
    
    a {
      display: flex;
      align-items: center;
      column-gap: 4px;
  
      padding: 8px 16px;
      border-radius: 8px;
      background: var(--mauve3);
      border: 1px solid var(--mauve7);
  
      font-weight: 500;
      font-size: 0.875rem;
      text-transform: capitalize;
  
      transition: background 0.4s;

      svg {
        flex-shrink: 0;
        fill: var(--text-light);
      }
    }

    &:hover a {
      background: var(--mauve4);
    }
  }
}
