.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // width: 200px;
  position: relative;

  label {
    display: flex;
    align-items: center;
    column-gap: 24px;

    font-size: 0.875rem;
    line-height: 1.75rem;
    color: var(--mauve12);

    width: 100%;
    height: 35px;
    border-radius: 8px;
    padding: 0 16px;
    background: var(--mauve4);

    svg {
      width: 12px;
      height: auto;

      transition: transform 0.4s;
    }

    &.active svg {
      transform: rotate(-180deg);
    }

    @media(max-width: 650px) {
      font-size: 0.75rem;
      line-height: 1.5rem;
      padding: 0 14px;
  
      svg {
        width: 10px;
      }
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 4px;

  position: absolute;
  top: 45px;
  left: 0;
  z-index: 10;

  list-style: none;

  width: 100%;
  padding: 0 6px 0;
  background: var(--mauve4);
  box-shadow: 0px 3px 14px #00000033;

  overflow: hidden;
  max-height: 0px;

  transition: all 0.4s;

  li {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--mauve11);
    
    padding: 6px 14px;
    border-radius: 4px;

    transition: background 0.2s;

    &:first-child {
      margin-top: 12px;
    }

    &:hover, &.selected {
      cursor: pointer;
      color: var(--mauve12);
      background: var(--mauve7);
    }

    @media(max-width: 650px) {
      font-size: 0.75rem;
      line-height: 1.125rem;
      
      padding: 4px;
    }
  }

  &.active {
    border-radius: 4px;
    max-height: 250px;
    padding: 0 6px 12px;
  }
}