.header {
  display: flex;
  justify-content: center;

  z-index: 2;
  position: relative;

  padding: 24px 24px;
  backdrop-filter: blur(20px);
  background: rgba(28, 28, 31, 0.3);
  border-bottom: 1px solid var(--mauve6);
}

.header__content {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: var(--width-normal);
}

.header__navigation {
  list-style: none;

  display: flex;
  align-items: center;
  column-gap: 40px;

  margin-left: auto;
  margin-right: 40px;

  li.mobile {
    display: none;
    width: 280px;

    margin-top: auto;
  }

  &:after {
    content: '';
    width: 1px;
    height: 40px;
    background: var(--mauve6);
  }

  @media(max-width: 1080px) {
    column-gap: 28px;
    margin-right: 28px;
  }

  @media(max-width: 768px) {
    position: fixed;
    left: 0;
    top: 79px;

    flex-direction: column;
    row-gap: 32px;

    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin-right: 0;
    background: var(--mauve1);

    transition: all 0.6s ease-in-out;

    &::after {
      display: none;
    }

    li {
      font-size: 1.5rem;

      &:first-child {
        margin-top: auto;
      }

      &.mobile {
        display: block;
      }
    }

    &.active {
      padding: 32px 0;
      height: calc(100vh - 79px);
    }
  }
}

.header__logo svg {
  width: auto;
  height: 32px;

  @media(max-width: 768px) {
    height: 26px;
  }

  @media(max-width: 550px) {
    height: 20px;
  }
}

.header__signIn {
  max-width: 130px;

  @media(max-width: 768px) {
    display: none!important;
  }
}

.button__toggle {
  width: 40px;
  height: 24px;

  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  margin-left: auto;

  span {
    width: 100%;
    height: 2px;
    background: var(--mauve12);

    transition: all 0.4s;
  }

  &[aria-expanded="true"] {
    span:nth-child(1) {
      width: 70%;
      transform: rotate(-45deg) translateY(7px) translateX(-7px);
    }
    span:nth-child(2) {
      width: 0px;
    }

    span:nth-child(3) {
      width: 70%;
      transform: rotate(45deg) translateY(-7px) translateX(-7px);
    }
  }

  @media(max-width: 768px) {
    display: flex;
  }
}