.header {
  display: flex;
  justify-content: center;

  position: relative;

  padding: 20px 24px;
  background: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  @media(max-width: 650px) {
    padding: 16px;
  }
}

.header__content {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: var(--width-normal);
}

.header__navigation {
  list-style: none;

  display: flex;
  align-items: center;
  column-gap: 40px;

  margin-left: auto;
  margin-right: 40px;

  li {
    font-weight: 500;

    a {
      display: flex;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 18px;
        left: 0;
        height: 1px;
        width: 80%;
        background: var(--text);

        transform: scaleX(0);
        transform-origin: right;
        transition: transform .8s;
      }
    }

    &:hover a::after {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform .8s;
    }

    &:last-child {
      display: none;
    }
  }

  // Linha divisoria
  &:after {
    content: '';
    width: 1px;
    height: 40px;
    background: var(--text);
  }

  @media(max-width: 1080px) {
    column-gap: 28px;
    margin-right: 28px;
  }

  @media(max-width: 768px) {
    position: fixed;
    inset: 0;
    z-index: 5;

    flex-direction: column;
    justify-content: flex-end;
    row-gap: 48px;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 40px 24px 15vh;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.6);

    transform: translateX(100vw);

    transition: all 0.6s ease-in-out;

    &.active {
      transform: translateX(0px);
    }

    &:after {
      display: none;
    }

    li {
      font-size: 24px;

      &:last-child {
        display: block;

        width: 100%;
        max-width: 300px;
        margin-top: 20vh;
      }
    }
  }
}

.header__logo {
  z-index: 10;
  
  svg {
    width: auto;
    height: 32px;
  
    @media(max-width: 768px) {
      height: 26px;
    }
  
    @media(max-width: 650px) {
      height: 18px;
      margin-bottom: -5px;
    }
  }
}

.button__toggle {
  width: 40px;
  height: 24px;
  z-index: 10;

  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  margin-left: auto;

  span {
    width: 100%;
    height: 2px;
    background: var(--text);

    transition: all 0.4s;
  }

  &[aria-expanded="true"] {
    span:nth-child(1) {
      width: 70%;
      transform: rotate(-45deg) translateY(7px) translateX(-7px);
    }
    span:nth-child(2) {
      width: 0px;
    }

    span:nth-child(3) {
      width: 70%;
      transform: rotate(45deg) translateY(-7px) translateX(-7px);
    }
  }

  @media(max-width: 768px) {
    display: flex;
  }


  @media(max-width: 650px) {
    row-gap: 7px;
    height: 18px;

    span {
      height: 1px;
    }

    &[aria-expanded="true"] {
      span:nth-child(1) {
        transform: rotate(-45deg) translateY(6px) translateX(-6px);
      }
  
      span:nth-child(3) {
        transform: rotate(45deg) translateY(-6px) translateX(-6px);
      }
    }
  }
}