.header {
  display: flex;
  justify-content: center;

  padding: 24px 121px;
  backdrop-filter: blur(20px);
  background: rgba(28, 28, 31, 0.3);
  border-bottom: 1px solid var(--mauve6);
}

.header__content {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: var(--width-normal);
}

.header__navigation {
  list-style: none;

  display: flex;
  align-items: center;
  column-gap: 40px;

  margin-left: auto;
  margin-right: 40px;

  &:after {
    content: '';
    width: 1px;
    height: 40px;
    background: var(--mauve6);
  }
}

.header__logo svg {
  width: auto;
  height: 32px;

  @media(max-width: 650px) {
    height: 20px;
  }
}

.header__signIn {
  max-width: 130px;
}