.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;

  label {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  input {
    outline: none;

    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid var(--white);

    &:focus, &:not(:placeholder-shown) {
      border-color: var(--link);
    }

    &[aria-invalid=true] {
      border-color: var(--red);
    }

    &::placeholder {
      color: var(--text-placeholder);
    }

    &:disabled {
      opacity: 0.2;
      pointer-events: none;
      background: rgba(#fff, 0.05);
      border-color: rgba(#fff, 0.2);
    }
  }
}