.solution__footer {
  margin-top: auto;

  display: flex;
  column-gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;

  padding: 10px;
  border-radius: 6px;

  &.preview {
    flex: 1;
    background: var(--mauve3);
    transition: background .4s;

    &:hover {
      background: var(--mauve4);
    }
  }

  &.social {
    background: transparent;
    border: 1px solid var(--mauve5);
    transition: border .4s;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: var(--mauve11);
        transition: fill .4s;
      }
    }

    &:hover {
      border-color: var(--mauve10);

      svg path {
        fill: var(--mauve12);
      }
    }
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0.4;

    svg path {
      fill: var(--mauve10);
    }
  }
}