.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  width: 100%;
  max-width: var(--width-normal);

  margin-top: 48px;

  h1 {
    font-size: 2rem;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.description {
  p {
    font-size: 1.125rem;
    line-height: 2rem;

    & + p {
      margin-top: 16px;
    }

    b {
      font-family: var(--font-normal);
    }
  }
}