.container {
  width: 100%;

  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 48px;

  @media(max-width: 900px) {
    padding: 48px 24px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 20px;

  width: 100%;
  max-width: 900px;

  h2 {
    font-size: 1.75rem;
    font-weight: 500;
    border-bottom: 1px solid var(--text-placeholder);

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  > button {
    margin-top: 20px;
  }

  svg {
    width: 18px;
    height: auto;
  }
}

.challenges {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
}

.challenge {
  padding: 16px 24px;
  border-radius: 6px;
  background: var(--background-light);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);

  strong {
    font-size: 1.25rem;
  }

  div {
    display: flex;
    align-items: stretch;
    column-gap: 10px;

    margin-top: 16px;

    a, button {
      font-size: 0.875rem;
    }

    button {
      background: var(--red);

      &:hover {
        background: #ff4242;
      }
    }
  }
}