.radio {
  display: flex;
  align-items: center;
  column-gap: 8px;

  min-width: 150px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--text-placeholder);
  background: transparent;

  &[aria-checked="true"] {
    border-color: var(--link);
    background: rgba(#7f5af0, 0.05);
  }

  label {
    flex: 1;
    font-size: 0.875rem;
  }

  input {
    position: relative;

    &:after {
      content: '';
      top: -1px;
      left: -1px;
      width: 15px;
      height: 15px;
      position: absolute;
      border-radius: 100%;
      border: 1px solid rgba(#7f5af0, 0.6);
      background-color: var(--background);
      transition: border 0.2s;
    }

    &:checked:after {
      border-width: 5px;
      border-color: var(--link);
    }
  }
}

.radio__button {
  display: flex;

  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--text);
  background-color: transparent;

  &:focus {
    box-shadow: 0 0 0 2px var(--link);
  }
}

.radio__indicator {
  display: flex;
  margin: auto;
  position: relative;
  border-radius: 100%;
  
  &::after {
    content: '';
    
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--link);
  }
}