.container {
  display: flex;
  justify-content: center;
  margin: -100px 0 40px;
  width: 100%;

  @media(max-width: 900px) {
    padding: 48px 24px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;

  padding: 48px 40px;
  border-radius: 6px 6px 16px 16px;
  background: #191930;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);

  width: 100%;
  max-width: 800px;

  h2, .button__submit {
    align-self: center;
  }

  h2 {
    opacity: 0.8;
    font-size: 2.25rem;
    margin-bottom: 16px;
  }

  .button__submit {
    margin-top: 32px;
    column-gap: 6px;

    font-size: 1.25rem;
    line-height: 1.5rem;

    max-width: 300px;
  }

  @media(max-width: 650px) {
    padding: 24px 16px;

    h1 {
      text-align: center;
      font-size: 1.5rem;
      max-inline-size: 80%;
    }
  }
}