.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;

  padding: 40px;
  border-radius: 6px 6px 16px 16px;
  background: var(--background-light);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.08);

  width: 100%;
  max-width: 900px;
  margin: 40px auto 16px;

  h1, .button__submit {
    align-self: center;
  }

  h1 {
    margin-bottom: 16px;
  }

  .button__submit {
    margin-top: 32px;
    column-gap: 6px;

    font-size: 1.25rem;
    line-height: 1.5rem;

    max-width: 300px;
  }
}