.footer {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-top: 48px;
  padding-top: 48px;
  padding-bottom: 32px;

  background: rgba(28, 28, 31, 0.4);
  border-top: 1px solid var(--mauve6);

  color: var(--mauve11);

  div {
    width: 100%;
    max-width: var(--width-normal);

    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 1rem;
      font-weight: 300;
    }

    p {
      font-weight: 400;
      font-size: 1.125rem;

      a {
        font-weight: 500;
        color: var(--blue10)
      }
    }
  }
}
