.trigger__button { 
  display: flex;
  
  border: 0;
  background: transparent;

  svg {
    margin: auto;
    width: 16px;
    height: auto;

    color: var(--text);
  }
}

.content {
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: center;

  padding: 12px;
  border-radius: 6px;
  background: var(--text-placeholder);

  max-width: 300px;
}