.container {
  width: 100%;
  max-width: calc(var(--width-normal) + 48px);
  
  margin: 48px 0 64px;
  padding: 0 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
  padding-bottom: 12px;

  border-bottom: 1px solid var(--white);

  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  @media(max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
    row-gap: 6px;

    h1 {
      font-size: 1.125rem;
    }

    > div label {
      justify-content: space-between;
    }
  }
}

.solutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @media(max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}