.container {
  width: 100%;
  max-width: var(--width-normal);
  
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 48px;

  margin: 48px 0 64px;

  h2 {
    display: flex;
    align-items: center;
    column-gap: 6px;

    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 24px;
    padding-bottom: 8px;

    border-bottom: 1px solid var(--white);
  }

  @media(max-width: 1300px) {
    padding: 0 24px;
  }
}

.listSolutions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 64px;
}

.solutions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  list-style: none;
}

.contributors {
  list-style: none;

  li {
    color: var(--text);
    font-size: 1rem;

    & + li {
      margin-top: 10px;
    }
  }
}