.container {
  width: 100%;
  max-width: var(--width-normal);
  
  margin: 48px 0 64px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
  padding-bottom: 12px;

  border-bottom: 1px solid var(--white);

  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}

.solutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}